# ====================[ .gitignore                         ]====================
#
# --------------------( SYNOPSIS                           )--------------------
# Avoid committing paths matching the following glob expressions.

# ....................{ TEMPORARIES                        }....................
*~
*.sw?
