# ====================[ .gitignore                         ]====================
#
# --------------------( SYNOPSIS                           )--------------------
# Avoid committing all paths matching the following glob expressions.

# ....................{ TEMPORARIES                        }....................
*~
*.sw?
